[submodule "zsh/.zim"]
	path = zsh/.zim
	url = https://github.com/zimfw/zimfw.git
[submodule "zsh/.powerlevel10k"]
	path = zsh/.powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm
