# Author:  Benjamin
# License: MIT

## Add shortcuts and commands here that only apply
## to the current machine (not pushing to repo).

# Set the editor to use for editing all kinds of files.
export EDITOR="vi"
